# virtual environments
venv

# Python files
*.pyc
__pycache__

# Python Notebook dot files
.ipynb*

# Secret environment settings
.env
.env.*

# Static assests
staticfiles
static_cdn
media_cdn
/backend/media

# Ignore sqlite
db.sqlite3

# Ignore sql files
*.sql

# Apple files
.DS_Store
